
body{
            background:EEE;
            height:900px
            margin-left: auto;
            margin-right: auto;
            font-family: helvetica, arial, sans-serif;
            
}



#header{
            height:100px;
            width: 60%
            float:left;
            font-family: cambria, arial, calibria;
            font-weight: bold;
            padding-top: 30px
            text-align: center;
}

img{
    float: right;
    height:50px
        width: 40%
}

#content{
            clear: all;  
            height:600px
            padding-top: 30px
}
