
body{
            background:EEE;
            height:700px
            margin-left: auto;
            margin-right: auto;
            font-family: helvetica, arial, sans-serif;
            
}

  
.font-weight{
            font-weight="bold"
}

#header{
            height:50px;
            width: 100px
            float:left;
            font-family: cambria, arial, calibria;
            font-weight: bold;
            padding: 30px 30px 30px 30px
}

#container img{
    float: right;
    height:50px
        width: 50px
            
}

.img{
       float: right;
        height:50px
        width: 50px     
}

#content{
            clear: both;           
}
#footer{
    
}
